PORT=5000
OPENAI_API_KEY=
JWT_SECRET=
SESSION_SECRET=
MONGO_URI=mongodb://127.0.0.1:27017/jang_geum_i
CLIENT_ID=
CLIENT_SECRET=
N8N_WEBHOOK_URL=
GOOGLE_APPLICATION_CREDENTIALS=
GOOGLE_TTS_KEY_B64=
TTS_BAEK_URL=
TTS_SEUNG_URL=
TTS_JANG_URL=
